<div class="query">
  <input [(ngModel)]="zipCode" id="zip" name="zip" placeholder="Please enter a zip code" required maxlength="10" minlength="5" #zip="ngModel"/>
  <input type="submit" (click)="onSubmit(zipCode, zip.invalid)" />
  <div *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="error">
    <div *ngIf="zip.errors.required">
      Zip Code is required.
    </div>
    <div *ngIf="zip.errors.maxlength">
      Zip Code is too long.
    </div>
    <div *ngIf="zip.errors.minlength">
      Zip Code is too short.
    </div>
  </div>
</div>
<div class="results" *ngIf="locationInfo.cityName">
  <h2>{{locationInfo.cityName}}</h2>
  <div><span>Zip Code: </span>{{locationInfo.zipCode}}</div>
  <div><span>Time Zone:</span>{{locationInfo.timeZone}}</div>
  <div><span>Current Temperature (&deg;F): </span>{{locationInfo.currentTemperatureFahrenheit}}</div>
  <div><span>Elevation (feet): </span>{{locationInfo.elevationInFeet}}</div>
</div>
